*{
    font-family: 'Inter', sans-serif;
   
}

.menuNav{
    color: #ffff;
    text-decoration: none;

}

.bg-blue{
    background-color: #313A5F;
}

.wrapper {
    width: 1200px;
    margin: auto;
    padding-block: 150px;

}



.container{
    background-color: #313A5F;
    width: 100%;
    margin: auto;
}

.menu {
    display:flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 24px;
    gap: 40px;
    padding-block: 30px;
    padding-left: 310px;
    
    
    
}

.menu__link{
    color: #FFF;
    text-decoration: none;
}

.content{
    display: flex;
    justify-content: space-between;

}

.text {
    width: 455px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;   
   
}

.text__title{
    margin-top: 0;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.wrapper__title{
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio__subtitle{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio__arrows{
    position: relative;
}

.portfolio__arrow-one{
    position: absolute;
    left: 100%;
    cursor: pointer;
}




.portfolio__arrow-two{
    position: absolute;
    cursor: pointer;
    left: 93%;
}



.portfolio__img{
    width: 570px;
    height: 414px;
}

.portfolio-content{
    display: flex;
    justify-content: space-between;
}

.portfolio__list{
    font-size: 32px;
    
}

.portfolio__line{
    border-bottom: 2px solid black;
}

.portfolio__button{
    margin-top: 20px;
    padding: 20px 50px;
    border-radius: 44px;
    background: #313A5F;
    color: #FFF;
    font-size: 24px;
}

.portfolio__button:hover{
    background-color: #5e6fb4;
    cursor: pointer;
}

.about{
    display: flex;
    justify-content: space-between;
}

.info__title{
    color: #FFF;
    font-size: 74px;
    margin: 0px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info__subtitle{
    color: #FFF;
    font-size: 32px;
    width: 550px;
    line-height:43px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.about__image{
    width: 475px;
    height: 536px
}

.form__title{
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 100px;
}

.form__subtitle{
    text-align: center;
    font-size: 32px;
}

.form__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input{
    width: 750px;
    padding: 20px 40px;
    border-radius: 44px;
    margin-bottom: 35px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__button{
    width: 830px;
    padding: 20px;
    border-radius: 44px;
    background: #313A5F;
    color: #FFF;
    font-size: 24px;
}

.form__button:hover{
    background-color: #5e6fb4;
    cursor: pointer;
}

.form__text{
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
}

.form__footer{
    display: flex;
    justify-content: space-between;
}

.form__network{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}